
.container{
	background-color: white;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
	font-family: Helvetica, Arial;
	color: midnightblue;
}

.header-left{
	width:  320px;
	float: left;
	padding-left: 20px;
	padding-top: 20px;

}

.header-right{
	width: 400px;
	float: right;
	text-align: right;
	padding-top: 10px;
	padding-right: 20px;

}


.middle{
	background-color: aliceblue;
	clear: both;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
}

.mid-left{
	clear:  both;
	width: 220px;
	float: left;
	height:  560px;
	

}

.mid-right{
	width: 510px;
	float: right;
	height: 500px;
	padding-left: 10px;
	padding-right: 20px;
}

.lower{
	clear: both;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
}

.lower-left{
	float: left;
}

.lower-right{
	float: right;
	text-align: right;
}

.footer{
	clear: both;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	background-color: ghostwhite;


}
.footer img{
	float: left;
	padding: 20px;
	}


hr{
	border-color: black;
}

.circle-logos img{
	width: 10%;

}

.rectangle-logos img{
	width: 20%;
	padding-top: 30px;	

}

